    <% unless @link.nil? %>
    <div id="visit-details" class="collapse">
      <table class="table table-responsive table-striped table-bordered">
        <thead>
          <tr class="bg-light-blue text-white">
            <th>IP ADDRESS</th>
            <th>REFERER</th>
            <th>BROWSER NAME</th>
            <th>CLIENT OS</th>
            <th>TIME OF VISIT</th>
          </tr>
        </thead>
        <tbody>
          <% @link.visits.each do |visit| %>
            <tr>
              <td><%= visit.ip_address %></td>
              <td><%= visit.referer %></td>
              <td><%= visit.browser_name %></td>
              <td><%= visit.os %></td>
              <td><%= time_ago_in_words visit.created_at %> ago</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>