<h1>Users Details</h1>

<table class="table">
<caption>My Shortened URLs</caption>
  <thead>
    <tr>
      <th>#</th>
      <th>Long URL</th>
      <th>Short URL</th>
      <th>Created</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
  <% @user.links.each do |link| %>
    <tr>
      <th></th>
      <td><%= link.given_url %></td>
      <td><%= link.display_slug %></td>
      <td><%= time_ago_in_words(link.created_at) %> ago</td>
      <td><%= link.active? ? "Active" : "Deactivated" %></td>
      <td><%= link_to "<span class='glyphicon glyphicon-book'></span>".html_safe, '#', "data-toggle" => 'tooltip', "data-placement" => 'top', title: 'View Details' %></td>
      <td><%= link_to "<span class='glyphicon glyphicon-edit'></span>".html_safe, '#', "data-toggle" => 'tooltip', "data-placement" => 'top', title: 'Edit' %></td>
      <td><%= link_to "<span class='glyphicon glyphicon-trash'></span>".html_safe, '#', "data-toggle" => 'tooltip', "data-placement" => 'top', title: 'Delete' %></td>
    </tr>
  <% end %>
  </tbody>
</table>