<!DOCTYPE html>
<html>
<head>
  <title>Shot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if !flash[:notice].blank? %>
    <div id="notice_wrapper" role="alert">
      <p>
        <%= flash[:notice] %>
      </p>
    </div>
  <% elsif !flash[:alert].blank? %>
    <div id="notice_wrapper" role="alert">
      <p>
        <%= flash[:alert] %>
      </p>
    </div>
  <% end %>


<nav class="navbar navbar-fixed-top">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "TurboUrl", root_path, class: "navbar-brand text-white" %>
      </div>

        <ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle text-white text-lg" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-user"></span>&nbsp;
              <%= current_user.first_name %> <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
          <% else %>
            <li><a href="#" data-toggle="modal" data-target="#sign-in-Modal" class="btn btn-transparent">Sign In</a></li>
            <li><a href="#" data-toggle="modal" data-target="#sign-up-Modal" class="btn btn-white">Sign Up</a></li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div>
</nav>

  <div class="container-fluid">
    <%= yield %>
  </div>




  <!-- Sign In Modal -->
<div class="modal fade" id="sign-in-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign in to TurboUrl</h4>
      </div>
      <div class="modal-body">
        <!-- Log In form -->

        <%= form_for(:user, url: session_path(:user)) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "control-label" %><br />
            <%= f.email_field :email, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "control-label" %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Log in", class: "btn btn-primary"%>
      <% end %><!-- end form_for -->
      </div>
    </div>
  </div>
</div>

  <!-- Sign Up Modal -->
<div class="modal fade" id="sign-up-Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sign Up</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, url: registration_path(:user)) do |f| %>

          <div class="form-group">
            <%= f.label :first_name, class: "control-label" %><br />
            <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, class: "control-label" %><br />
            <%= f.text_field :last_name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email, class: "control-label" %><br />
            <%= f.email_field :email, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: "control-label" %>
            <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: "control-label" %><br />
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
          </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Sign up", class: "btn btn-primary" %>
        <% end %><!-- end sign up form -->
      </div>
    </div>
  </div>
</div>
</body>
</html>
