<!DOCTYPE html>
<html>
<head>
  <title>Dashboard | <%= current_user.first_name %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400|Roboto:300,400,700" rel="stylesheet">
</head>
<body>

  <%= render 'layouts/flash' %>

  <nav class="navbar navbar-fixed-top bg-dark-blue">
    <%= render 'shared/navbar' %>
  </nav>

  <div class="container-fluid">
  <div class="jumbotron bg-light-blue dashboard-jumbotron">
    <div class="col-lg-9 col-lg-offset-2 clear_top">
      <%= form_tag(:controller => 'links', :action => 'create') do %>
        <div class="form-group">
          <%= url_field_tag 'link[given_url]', nil, class: 'form-control input-lg',
           placeholder: 'Paste the long ugly URL...', required: 'true' %>
        </div>
        <div class="form-group">
          <%= text_field_tag 'link[slug]', nil, class: 'form-control input-lg',
           placeholder: 'Type a fancy text you prefer' %>
        </div>
        <div>
            <%= submit_tag "CREATE LINK", options = { class: "btn btn-primary btn-lg col-lg-6 col-lg-offset-3" } %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="well">
    API KEY: &nbsp;&nbsp;
    <% if current_user.auth_token.blank? %>
      <%= link_to 'Generate API KEY', { controller: 'links', action: 'generate_key' }, method: :post, class: 'btn btn-primary' %>
    <% else %>
      <%= current_user.auth_token %>
    <% end %>
  </div>
  <% if current_user.errors.any? %>
  <%= current_user.errors.full_message.to_sentence %>
  <% end %>
    <%= yield %>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
</body>
</html>
